body {
  font-family: Arial;
  margin: 0;
  background: #fff8e1;
  text-align: center;
}

header {
  background: orange;
  padding: 15px;
  color: white;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.hero {
  padding: 50px;
  background: linear-gradient(to right, orange, yellow);
}

.btn {
  background: green;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

.features ul {
  list-style: none;
}

footer {
  background: orange;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
